<section class="about-index container">

  <header class="page-header">
    <h1>About</h1>
  </header>

  
  <article class="about">
    <p>Wow this is our really cool where we sell really cool products that you could probably find cheaper on Amazon. But when you buy from us you can feel better about yourself for not lining Bezos' wallet even further.</p>
    <p>Anyways this about page is way too short so here's 3 paragraphs of Corporate Ipsum to pad out this page</p>
    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
    <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
    <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
    <p>Okay so that didn't pad the page nearly as much as we thought it would, so maybe we could bump up the font size a little. <span class="font-lg">Yeah that's good. And maybe we could bring in the padding a little</span></p>
    <div class="font-lg">
      <p>Perfect. Now just throw up an image of a store and I think we meet all the requirements for an about page.</p>
      <figure>
        <%= image_tag "VR-in-store.png", alt: "Man wearing VR headset in store" %>
        <figcaption>This is a visualization of you shopping our store in cyberspace.</figcaption>
      </figure>
      <p>And if you doubt our commitment to making this the best about page possible, here is another 3 <em>WHOLE</em> paragraphs of Corporate Ipsum.</p>
      <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
      <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
      <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
    </div>
  </article>
  


  
</section>
