<section class="about-index">

  <header class="page-header">
    <h1>About</h1>
  </header>

  <p>Wow this is our really cool where we sell really cool products that you could probably find cheaper on Amazon. But when you buy from us you can feel better about yourself for not lining Bezos' wallet even further.</p>

</section>
