.about-index {
  article {
    font-size: 16px;

    p {
      margin-bottom: 20px;
    }

    div {
      padding: 0 15px;
    }

    figure {
      margin: 20px;

      figcaption {
        margin-top: 10px;
        font-size: 16px;
      }
    }
  }
}