// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// Helpers
@import "helpers";

// App
@import "products";
@import "about";
@import "users";

// Admin
@import "admin/dashboard";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.navbar a.btn {
  margin: 5px;
  padding: 10px 15px;
}

.navbar-default .navbar-nav {
  & > li > a.btn-primary {
    color: white;

    &:hover {
      background-color: #286090;
      border-color: #204d74;
    }
  }
  .current-user {
    margin: 15px 10px;
  }
}